---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
       <!--<div class="author_image">
           <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>-->
        <div class="author_info">
        <!-- <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}sometimes{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}not always or not often{% endif %}</p>
          <p class="author_subtitle">no siempre o no a menudo</p>
          <p class="author_subtitle">pas toujours ou pas souvent</p>
          <p class="author_subtitle">हमेशा या नहीं अक्सर</p> -->
          
          <p>
            우리는 가끔 떠나고 싶다. <br>
            우리는 가끔 삶에 대한 고뇌를 한다.<br>
            우리는 가끔 즐거움을 위한 몸부림을 친다.<br>
            우리는 가끔 일탈을 꿈꾼다.<br><br>

            우리는 가끔<br>
            .<br>
            .<br>
            .<br><br><br>


            sometimes는 우리의 일상 속에 가끔 느끼는 감정과 행동에 대한 관찰 일지이다.<br>

            어쩌다 한번씩 기록되는 우리의 일상에 대한 관찰을 통해<br>
            먼 훗날 이 기록을 통해<br>
            우리의 청춘이 때론 힘겹게 그러나 잘 버티고 살아왔다는 <br>
            증명이 될 수있기를<br>
          </p>
        </div>
      </div>

     <div class="about_social">
         <!--{% include social_footer.html %}-->
      </div>
    </div> <!-- End Section Author -->
</section>
